<!doctype html>
<html>
  <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="/user_interests.css">
  </head>
  <body>

        <%= yield %>

      <div id='footer'>
          <h5>
              There are <%= @user_tot %> users with a total of <%= @interest_tot %> interests
          </h5>
      </div
  </body>
  </html>